$primary-white: hsl(0,0,100%);
$primary-black: hsl(0,0,0);
$primary-darkgrey: hsl(0,0,55%);
$primary-verydarkgrey: hsl(0,0,41%);
$image-banner: url(../img/desktop/image-hero.jpg);


@mixin media-sm {
    @media screen and (max-width: 1300px) {
        @content;
    }
}