
@include media-sm {
    .banner {
        background: url(../img/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;


        .headline-wrapper {
            grid-area: title;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;

            .headline {
                position: static;
                width: 87.2%;
                height: auto;
                display: flex;
                align-items: center;
                margin-top: 10px;
                margin-bottom: auto;
    
                h1 {
                    font-size: 10.7vw;
                    padding-right: 20px;
                    margin-bottom: 24px;
                    margin-top: 24px;
                    line-height: 10.1vw;
                }
    
                
            }
        }
        

        .menu {
            display: flex;
            justify-content: flex-end;

            margin-top: 44px;

            .menu-nav {
                display: none;
            }

            .menu-btn {
                .btn-line {
                    height: 2px;
                    width: 24px;
                    background-color: $primary-white;
                    margin-bottom: 5px;
                    margin-right: 24px;
                    
                }
            }
        }

        .logo {
            top: 40px;
            left: 24px;
            height: 2rem;
            margin-left: 0px;
        }
    }

    .vr-blurb {
        margin-top: 10rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6rem;
        width: 87.2vw;
        display: flex;
        flex-direction: column;
        height: auto;
    
        img {
            width: 100%;
            height: auto;
            z-index: -1;
        }
    
        .blurb {
            float: none;
            background: white;
            height: auto;
            width: 100%;
            z-index: 2;
            position: static;
            right: 0;
            top: 0;
    
            h2 {
                margin-left: auto;
                margin-bottom: 16px;
                margin-top: 48px;
                width: 100%;
                font-size: 32px;
                text-align: center;
            }
    
            p {
                font-size: 15px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Alata';
                color: $primary-darkgrey;
                width: 85.3%;
                text-align: center;
            }
            
    
    
        }
    }

    .gallery {
        .see-all {
            color: $primary-black;
        }
    
        .gallery-header {
            display: flex;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 48px;
    
    
            div {
                width: 100%;
            }

            .btn {
                display: none;
            }

            h2 {
                width: 100%;
                font-size: 8.5vw;
                text-align: center;

            }
    
            .see-all {
                float:right;
                color: $primary-black;
                outline: solid $primary-black 1px;
                padding: 13px 38px;
                font-size: 14px;
                letter-spacing: 5px;
    
                &:hover {
                    background-color: $primary-black;
                    transition: ease 0.2s;
                    color: $primary-white;
                }
            }
        }
    
    
        .img-grid {
            display: grid;
            grid-template-areas:
            'r1'
            'r2'
            'r3'
            'r4'
            'r5'
            'r6'
            'r7'
            'r8';
            grid-template-columns: 87.2vw;
            grid-template-rows: repeat(8, 32vw);
            grid-gap: 24px;
            justify-content: center;
    
            .image-1 {
                grid-area: r1;
                background: url(../img/mobile/image-deep-earth.jpg);
                background-size: cover;
            }
    
            .image-2 {
                grid-area: r2;
                background: url(../img/mobile/image-night-arcade.jpg);
                background-size: cover;
            }
    
            .image-3 {
                grid-area: r3;
                background: url(../img/mobile/image-soccer-team.jpg);
                background-size: cover;
            }
    
            .image-4 {
                grid-area: r4;
                background: url(../img/mobile/image-grid.jpg);
                background-size: cover;
            }
    
            .image-5 {
                grid-area: r5;
                background: url(../img/mobile/image-from-above.jpg);
                background-size: cover;
            }
    
            .image-6 {
                grid-area: r6;
                background: url(../img/mobile/image-pocket-borealis.jpg);
                background-size: cover;
            }
    
            .image-7 {
                grid-area: r7;
                background: url(../img/mobile/image-curiosity.jpg);
                background-size: cover;
            }
    
            .image-8 {
                grid-area: r8;
                background: url(../img/mobile/image-fisheye.jpg);
                background-size: cover;
            }
    
            .img {
                height: 100%;
                width: 100%;
    
                .overlay {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
    
                    &:hover{
                        background-color: $primary-white;
                        opacity: 0.75;
                        transition: ease 0.2s;
    
                        h3 {
                            color: $primary-black;
                        }
                    }
                }
    
    
            }
    
            .gallery-label {
                grid-area: 1;
                color: $primary-white;
                margin-left: 20px;
                margin-bottom: 20px;
                max-width: 34.7vw;
                font-size: 6.4vw;
            }
        }
    
    
    }
    
}