
@include media-sm {

    .banner {
        background: url(../img/mobile/image-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;


        .headline-wrapper {
            grid-area: title;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;

            .headline {
                position: static;
                width: 87.2%;
                height: auto;
                display: flex;
                align-items: center;
                margin-top: 64.5px;
                margin-bottom: auto;
    
                h1 {
                    font-size: 10.7vw;
                    padding-right: 20px;
                    margin-bottom: 24px;
                    margin-top: 24px;
                    line-height: 10.1vw;
                }
    
                
            }
        }
        

        .menu {
            display: flex;

            .menu-btn {
                position: static;
                margin-left: auto;
                margin-right: 24px;
                margin-top: 44px;
                top: 44px;
                right: 24px;
                z-index: 4;
                .btn-line {
                    height: 2px;
                    width: 24px;
                    background-color: $primary-white;
                    margin-bottom: 5px;
                    margin-right: 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .logo {
            top: 40px;
            left: 24px;
            height: 24px;
            margin-left: 0px;
        }
    }

    .vr-blurb {
        margin-top: 10rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6rem;
        width: 87.2vw;
        display: flex;
        flex-direction: column;
        height: auto;
    
        img {
            width: 100%;
            height: auto;
            z-index: -1;
        }
    
        .blurb {
            float: none;
            background: white;
            height: auto;
            width: 100%;
            z-index: 2;
            position: static;
            right: 0;
            top: 0;
    
            h2 {
                margin-left: auto;
                margin-bottom: 16px;
                margin-top: 48px;
                width: 100%;
                font-size: 32px;
                text-align: center;
            }
    
            p {
                font-size: 15px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Alata';
                color: $primary-darkgrey;
                width: 85.3%;
                text-align: center;
            }
            
    
    
        }
    }

    .gallery {
        .see-all {
            color: $primary-black;
        }
    
        .gallery-header {
            display: flex;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 48px;
    
    
            div {
                width: 100%;
            }

            .btn {
                display: none;
            }

            h2 {
                width: 100%;
                font-size: 8.5vw;
                text-align: center;

            }
    
            .see-all {
                float:right;
                color: $primary-black;
                outline: solid $primary-black 1px;
                padding: 13px 38px;
                font-size: 14px;
                letter-spacing: 5px;
    
                &:hover {
                    background-color: $primary-black;
                    transition: ease 0.2s;
                    color: $primary-white;
                }
            }
        }
    
    
        .img-grid {
            display: grid;
            grid-template-areas:
            'r1'
            'r2'
            'r3'
            'r4'
            'r5'
            'r6'
            'r7'
            'r8';
            grid-template-columns: 87.2vw;
            grid-template-rows: repeat(8, 32vw);
            grid-gap: 24px;
            justify-content: center;
    
            .image-1 {
                grid-area: r1;
                background: url(../img/mobile/image-deep-earth.jpg);
                background-size: cover;
            }
    
            .image-2 {
                grid-area: r2;
                background: url(../img/mobile/image-night-arcade.jpg);
                background-size: cover;
            }
    
            .image-3 {
                grid-area: r3;
                background: url(../img/mobile/image-soccer-team.jpg);
                background-size: cover;
            }
    
            .image-4 {
                grid-area: r4;
                background: url(../img/mobile/image-grid.jpg);
                background-size: cover;
            }
    
            .image-5 {
                grid-area: r5;
                background: url(../img/mobile/image-from-above.jpg);
                background-size: cover;
            }
    
            .image-6 {
                grid-area: r6;
                background: url(../img/mobile/image-pocket-borealis.jpg);
                background-size: cover;
            }
    
            .image-7 {
                grid-area: r7;
                background: url(../img/mobile/image-curiosity.jpg);
                background-size: cover;
            }
    
            .image-8 {
                grid-area: r8;
                background: url(../img/mobile/image-fisheye.jpg);
                background-size: cover;
            }
    
            .img {
                height: 100%;
                width: 100%;
    
                .overlay {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
    
                    &:hover{
                        background-color: $primary-white;
                        opacity: 0.75;
                        transition: ease 0.2s;
    
                        h3 {
                            color: $primary-black;
                        }
                    }
                }
    
    
            }
    
            .gallery-label {
                grid-area: 1;
                color: $primary-white;
                margin-left: 20px;
                margin-bottom: 20px;
                max-width: 34.7vw;
                font-size: 6.4vw;
            }
        }
    
    
    }

    #footer {
        margin-top: 96px;
        padding-left: 51px;
        padding-right: 51px;
        padding-top: 56px;
        padding-bottom: 56px;
    
        display: grid;
        grid-template-areas:
        'logo'
        'nav'
        'social'
        'copyright';
    
        .footer-logo {
            height: 24px;
            padding-bottom: 24px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .footer-menu {
            grid-area: nav;
            width: 100%;
            
    
            ul {
                display: block;
                text-align: center;
                top: 4.25rem;
    
                li {
                    font-size: 15px;
                    padding-right: 0;
                    margin-bottom: 16px;
                }
                
            }
        }
    
        .footer-social {
            margin-left: auto;
            margin-right: auto;
            margin-top: 48px;
            grid-area: social;
            display: flex;
            justify-content: space-between;
            width: 144px;
    
            
            .social-icon {
                display: flex;
                flex-direction: column;
                margin-left: 0;
                height: 34px;
    
                .icon-img {
                    display: flex;
                    height: 24px;
                    justify-self: flex-start;
    
                    img {
                        align-self: center;
                    }
                }
                &:hover {
                    .underline {
                        height: 2px;
                        width: 24px;
                    
                        margin-bottom: 0px;
                        margin-top: auto;
                        background-color: $primary-white;
                    }
                }
            }
        }
    
        .footer-copyright {
            grid-area: copyright;
            margin-top: 16px;
            p {
                color: $primary-white;
                opacity: 50%;
                font-size: 15px;
                text-align: center;
                width: 100%;
            }
        }
    
    
    }
 
    
    body.open {
        overflow: hidden;
    }

    .drop-down-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: $primary-black;
        z-index: 0;
        opacity: 0;
        overflow-y: hidden;
        display: none;


        .close-btn {

            .close-btn-container {
                height: 22px;
                width: 24px;
                margin-left: auto;
                margin-right: 26px;
                margin-top: 42px;


                .close-line {
                    height: 2px;
                    width: 24px;
                    background-color: $primary-white;
                    
    
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        position: relative;
                        top: 10px;
                    }
                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        position: relative;
                        top: 8px;
                        
                    }
                    margin-top: auto;
                    margin-bottom: auto;
                }
    
                &:hover {
                    cursor: pointer;
                }
            }
            
        }

        .drop-logo {
            height: 24px;
            margin-top: 40px;
            margin-left: 24px;
        }

        .drop-nav {
            grid-area: nav;

            .menu-nav {
                .nav-item {
                    a {
                        font-size: 24px;
                        font-family: 'Josefin Sans';
                        text-transform: uppercase;
                        line-height: 48px;
                    }
                    
                }
            }
        }

    }

    .drop-down-nav.open {
        opacity: 1;
        z-index: 10;
        overflow: hidden;

        display: grid;
        grid-template-areas:
        'logo btn'
        'nav nav';
        grid-template-rows: 1fr 4fr;
    }

    .menu {
        .nav {
            display: none;
        }
    }
}