@import 'config';

* {
    font-family: 'Alata', 'Josefin Sans', sans-serif;
    margin: 0;
} 

h2 {
    font-family: 'Josefin Sans';
    font-size: 48px;
    font-weight: 300;
}

h3 {
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $primary-white;
}

li {
    list-style-type: none;
}


.banner {
    background: $image-banner;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 40.625rem;
    width: 100%;

    color: $primary-white;

    display: grid;
    grid-template-columns: 28fr 17fr;
    grid-template-rows: 25fr 75fr;
    grid-template-areas:
    'logo nav'
    'title .';


    .logo {
        grid-area: logo;
        position: absolute;
        top: 4.25rem;
        height: 2rem;
        margin-left: 10.3rem;
    }
    
    .menu {
        grid-area: nav;
        width: 100%;

        ul {
            position: absolute;
            top: 4.25rem;
            padding-inline-start: 0;

            li {
                display: inline;
                padding-right: 2rem;
                line-height: 25px;
            }
            
        }
    }

    .headline {
        grid-area: title;
        border: solid $primary-white 2px;
        width: 650px;
        height: 278px;
        position: absolute;
        left: 165px;
        top: 14.125rem;
        display: flex;
        align-items: center;

        
        h1 {
            font-family: 'Josefin Sans';
            font-weight: 300;
            font-size: 4.5rem;
            text-align: left;
            margin-left: 2rem;
        }
    }

}


.vr-blurb {
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    height: 500px;
    width: 1111px;
    display: flex;

    img {
        width: 731px;
        height: 500px;
        z-index: -1;
    }

    .blurb {
        float: right;
        background: white;
        height: 317px;
        width: 541px;
        z-index: 2;
        position: relative;
        right: 161px;
        top: 183px;

        h2 {
            margin-left: 96px;
            margin-bottom: 25px;
            margin-top: 96px;
            width: 100%;
        }

        p {
            font-size: 15px;
            margin-left: 96px;
            font-family: 'Alata';
            color: $primary-darkgrey;
            width: 445px;
        }
        


    }
}

.gallery {
    .see-all {
        color: $primary-black;
    }

    a {
        //TEMPORARY
        color: black;
    }

    .gallery-header {
        display: flex;
        width: 1111px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;


        div {
            width: 50%;
        }
        h2 {
            float:left;
        }

        .see-all {
            float:right;
            color: $primary-black;
            outline: solid $primary-black 1px;
            padding: 13px 38px;
            font-size: 14px;
            letter-spacing: 5px;
        }
    }


    .img-grid {
        display: grid;
        grid-template-areas:
        'r1 r2 r3 r4'
        'r5 r6 r7 r8';
        grid-template-columns: repeat(4, 256px);
        grid-template-rows: repeat(2, 450px);
        grid-gap: 30px;
        justify-content: center;

        .image-1 {
            grid-area: r1;
            background: url(../img/desktop/image-deep-earth.jpg);
            background-size: cover;
        }

        .img {
            align-items: end;

            a {
                height: 100%;
                width: 100%;
            }
        }

        .gallery-label {
            grid-area: 1;
            color: $primary-white;
            margin-top: auto;
            margin-bottom: 0;
        }
    }


}