@import 'config';

* {
    font-family: 'Alata', 'Josefin Sans', sans-serif;
    margin: 0;

    a {
        text-decoration: none;
        color: $primary-white;
    }

    li {
        list-style-type: none;
    }
} 


.banner {
    background: $image-banner;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 40.625rem;
    width: 100%;

    color: $primary-white;

    display: grid;
    grid-template-columns: 28fr 17fr;
    grid-template-rows: 25fr 75fr;
    grid-template-areas:
    'logo nav'
    'title .';


    .logo {
        grid-area: logo;
        position: absolute;
        top: 4.25rem;
        height: 2rem;
        margin-left: 10.3rem;
    }
    
    .menu {
        grid-area: nav;
        width: 100%;

        ul {
            position: absolute;
            top: 4.25rem;
            padding-inline-start: 0;

            li {
                display: inline;
                padding-right: 2rem;
                line-height: 25px;
            }
            
        }
    }

    .headline {
        grid-area: title;
        border: solid $primary-white 2px;
        width: 650px;
        height: 278px;
        position: absolute;
        left: 165px;
        top: 14.125rem;
        display: flex;
        align-items: center;

        
        h1 {
            font-family: 'Josefin Sans';
            font-weight: 300;
            font-size: 4.5rem;
            text-align: left;
            margin-left: 2rem;
        }
    }

}


.vr-blurb {
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    height: 500px;
    width: 1111px;
    display: flex;

    img {
        width: 731px;
        height: 500px;
        z-index: -1;
    }

    .blurb {
        float: right;
        background: white;
        height: 317px;
        width: 541px;
        z-index: 2;
        position: relative;
        right: 161px;
        top: 183px;

        h2 {
            font-family: 'Josefin Sans';
            font-size: 48px;
            font-weight: 300;
            margin-left: 96px;
            margin-bottom: 25px;
            margin-top: 96px;
            width: 100%;
        }

        p {
            font-size: 15px;
            margin-left: 96px;
            font-family: 'Alata';
            color: $primary-darkgrey;
            width: 445px;
        }
        


    }
}